/* google font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* global declare */
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* header banner section */
.header {
    background-color: #18191a;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    margin-top: 50px;
}
.banner-left {
    padding: 100px;
}
.banner-left h1 {
    font-size: 50px;
}
.banner-left p {
    margin-bottom: 20px;
}
.banner-right {
    align-self: end;
}
.banner-right img {
    width: 90%;
    display: block;
    animation: fadeIn 4s infinite alternate;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.primary-button {
    padding: 12px 20px;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    display: inline-block;
}

/* main section style */
.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 100px;
    margin-bottom: 100px;
}
.main-nav {
    background: #18191a;
    border-radius: 10px;
    height: 243px;
}
.main-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 25px;
    border-radius: 10px;
    padding: 15px;
    font-weight: 700;
    border: 1px solid rgba(128, 128, 128, 0.2);
}
.main .tablet-btn {
    display: none;
}
#active-nav {
    background: crimson;
    color: white;
}

/* card styling */
.card-container {
    padding-left: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}
.card p {
    margin: 0;
}
.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card-bottom {
    padding: 15px;
}
.card p span {
    display: inline-block;
    margin-right: 15px;
}
.card-btn {
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

/* footer starts */
.footer {
    color: white;
    margin: 0px;
    padding: 100px;
    text-align: center;
    background-color: #18191a;
}
.footer h1 {
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.footer-nav {
    display: flex;
    justify-content: space-evenly;
}
.footer-nav p {
    margin: 10px;
}

/* responsive starts */

/* mobile */
@media screen and (max-width: 576px) {
    /* global */
    .container {
        width: 95%;
        margin: 0 auto;
    }

    /* header responsive */
    .header {
        display: block;
        padding: 0;
        margin-top: 10px;
    }
    .banner-left {
        padding: 10px;
    }
    .banner-left h1 {
        font-size: 30px;
    }
    .banner-left p {
        margin-bottom: 10px;
    }
    .banner-right {
        align-self: end;
    }
    .banner-right img {
        width: 100%;
    }

    /* main section responsive */
    .main {
        display: block;
    }
    .main-nav {
        background: none;
    }
    .card-container {
        display: block;
    }

    /* footer starts */
    .footer {
        padding: 10px;
        text-align: center;
        background-color: #18191a;
    }
    .footer h1 {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    }
    .footer-nav {
        display: block;
    }
    .footer-nav p {
        margin-bottom: 15px;
    }
}

/* tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
    /* global declare */
    .container {
        width: 90%;
    }

    /* banner design */
    .banner-left {
        padding: 50px;
    }
    .banner-left h1 {
        font-size: 40px;
    }
    .banner-left p {
        margin-bottom: 15px;
    }
    .banner-right img {
        width: 100%;
    }

    /* main section */
    .main {
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .main .tablet-btn {
        display: block;
        text-align: center;
    }
    .main-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: auto;
        justify-content: space-evenly;
        background: none;
    }
    .main-nav a {
        margin: 15px;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* footer */
    .footer {
        padding: 50px 0;
    }
    .footer-nav {
        flex-wrap: wrap;
    }
}
